/Enterprise Application/dist/
/Enterprise Application/build/
/Enterprise Application/Enterprise Application-ejb/dist/
/Enterprise Application/Enterprise Application-ejb/build/
/Enterprise Application/Enterprise Application-war/build/
/Enterprise Application/Enterprise Application-war/dist/
/Java Application/build/
/Java Application/dist/
